.navbar-fixed-left {
    width: 20%;
    position: relative;
    border-radius: 0;
    height: 100%;
    overflow-y: scroll;
  }

  .navbar-fixed-left .navbar-nav > li{
    float: none;
    width: 139px;
  }

  .navbar-fixed-left + .container{
    padding-left: 160px;
  }

  .nav>li>a {
    position: relative;
    display: table-row;
    padding: 10px 10px;
  }

  .navbar-inverse {
    background-color: #eee;
    border-color: #eee;
}

.nav>li {
  position: relative;
  display: table-row;
  font-size: 10 px;
  padding: 50px 50px;

}

a {
  color: #337ab7;
  text-decoration: none;
  font-size: 18 px
}